
*{
  font-family: 'Butcherman', cursive;
  font-size: 5vh;
  text-shadow: 10px 10px 5px black;
  color: rgba(245, 247, 246, .8);
  -webkit-text-stroke: 1px black;
  ;
}
body{
  background-image: url("https://img.freepik.com/premium-photo/cement-wall-texture-background_76539-221.jpg?w=2000");
}
button{
  background-color:rgba(245, 247, 246, 0);
  border: none;
}
.App {
  text-align: center;
}
::placeholder{
  color: rgba(0, 0, 0, .5);
  font-size: 5vh;
  text-shadow: none;
  background-color:rgba(245, 247, 246, 0);
  font-family: 'Reenie Beanie', cursive;
  -webkit-text-stroke: 0px;
}
input{
  background-color:rgba(245, 247, 246, .7);
  border: outset;
  padding: 5px;
  margin: 5px;
}
button:hover{
  background-color: rgba(187, 229, 147,.5);
  border-radius: 30%;
  color: rgba(164, 30, 31, 1),
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
